.user-card {
  width: 60%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-card h3 {
  margin: 0;
  font-size: 18px;
}

.user-card p {
  margin: 5px 0;
}
.user-card button {
  color: white;
  background-color: #003052;
  border: none;
  border-radius: 15px;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
}
.user-card a {
  color: white;
  background-color: #003052;
  border: none;
  border-radius: 15px;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
