.item-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 250px;
  margin: 10px auto;
}

.item-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-image {
  width: 100%;
  height: auto;
}

.item-name {
  font-size: 18px;
  margin: 10px 0;
}

.item-price {
  font-size: 16px;
  margin-bottom: 10px;
}

.order-button {
  display: block;
  width: 100%;
  background-color: #003052;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: none;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #0056b3;
}
