.item-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 75px;
  width: 900px;
  margin: auto;
}

.item-details {
  flex: 1;
  margin-right: 20px;
}

.item-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.item-price {
  font-size: 24px;
  font-weight: bold;
}

.description {
  margin-top: 10px;
}

.quantity-section {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

input {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
}

.add-to-cart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #003052;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}
.buttons {
  margin-top: 20px;
}
.edit-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #003052;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.editing-item {
  width: 70%;
  margin: 40px auto;
}
.editing-item button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #003052;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6c061c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}