.authForm {
  text-align: center;
  background: white;
  padding: 100px 75px;
  width: 700px;
  margin: auto;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.button {
  width: 80%;
  color: white;
  background-color: #003052;
  border: none;
  border-radius: 15px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  margin: 40px auto;
}
.button:hover {
  background-color: #0056b3;
}
