.orders-page {
  padding: 100px 75px;
  width: 900px;
  margin: auto;
}
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #003052;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}