.cart-item {
  width: 60%;
  margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart-item h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .cart-item p {
    margin: 5px 0;
  }
.delete-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6c061c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}