.user-profile {
  padding: 100px 75px;
  width: 700px;
  margin: auto;
}

.user-profile h2 {
  margin-bottom: 20px;
}

.user-profile label {
  display: block;
  margin-top: 10px;
}

.user-profile input {
  margin-bottom: 10px;
}

.user-profile button {
  width: 80%;
  color: white;
  background-color: #003052;
  border: none;
  border-radius: 15px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  margin: 40px auto;
}

.user-profile button:hover {
  background-color: #0056b3;
}
